h1{
    color: brown;
    background-color: coral;
}
#quote {
    background-color: coral;
}
body{
    background-color: darksalmon;
}
 i {
    color: brown;
     background-color: coral;
}
h5 {
    color: brown;
    background-color: coral;
}
caption {
    color: coral;
    background-color: brown;
}
th {
    background-color: brown;
    color: coral;
}
h2 {
    color: brown;
    background-color: coral;
}
h3 {
    color: brown;
    background-color: coral;
}
ul {
    color: brown;
}
a {
    color: brown;
    background-color: coral;
}

div
{
    color: brown;
}